<div class="container">
    This document is meant to delineate the features of SMS, so as to serve as a guide to the developers on one hand and a software validation document for the prospective client on the other.
    SMS are designed to provide utility to daily operations of society. This software helps maintains society Maintenance as well as Parking, cultural funds and other payments. Secretory can add Electricity billing, Water billing, security maintenance and also manage flat owner data. Then Flat owner need to add there family members and if owner have any issue then owner can complaint online through this system. And all other rest work manage by system like send payments notification through mails and managing due date. Secretory can add events and cancel events, issue notice from notice board.
    
</div>
