<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <div class="navbar-header">
      <a class="navbar-brand"href="#">Society Management System</a>
    </div>
    <li class="nav-item">
      <a routerLink="home" routerLinkActive="active" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink="admin" routerLinkActive="active" class="nav-link">Admin</a>
    </li>
    <li class="nav-item">
      <a routerLink="secretary" routerLinkActive="active" class="nav-link">Secretary</a>
    </li>
    <li class="nav-item">
      <a routerLink="flat-owner" routerLinkActive="active" class="nav-link">Flat Owner</a>
    </li>
    <li class="nav-item">
      <a routerLink="help" routerLinkActive="active" class="nav-link">Help</a>
    </li>
    <li class="nav-item">
      <a routerLink="about-us" routerLinkActive="active" class="nav-link">About Us</a>
    </li>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>


